@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Adwella</title>
    <link href="~/css/flatly.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        html {
            height: 100%;
        }

        body {
            font-family: Calibri,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            height: 100%;
            padding: 0px;
        }

        .body-content {
            height: 100%;
        }

        .fa {
            margin-right: 5px;
        }

        .empty {
            padding: 50px 0px;
        }

        .table td, .table th {
            font-size: 18px;
        }
        #main {
            margin-top: 20px;
            height: 80%;
            position: relative;
        }

            #main #content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -80%);
            }

                #main #content h1 {
                    font-size: 70px;
                }

            #main #logo {
                vertical-align: bottom;
            }

        .container-fluid {
            padding-top: 10px;
        }
    </style>

</head>
<body>
    <div class="container-fluid body-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <a class="btn btn-success" asp-controller="account" asp-action="login"><i class="fa fa-lock"></i>Login</a>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="content">
                <h1><i class="fa fa-pie-chart"></i> Pollify</h1>
            </div>
        </div>
    </div>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js"></script>


</body>
</html>